<%- include("partials/header") -%> 
<h1><%= storeTitle  %> </h1>
<p>
    <%= storecontent %> 
</p>
<img width="500" height="600"src="data:image/<%=contentType%>;base64, 
            <%=image.toString('base64') %>" >



<%- include("partials/footer") -%> 